{% load staticfiles %}
<!-- JS LOADER -->
<!-- Main Angular scripts-->
<script src="{% static 'inspinia/js/angular/angular.min.js' %}"></script>
<script src="{% static 'inspinia/js/angular/angular-animate.min.js' %}"></script>
<script src="{% static 'inspinia/js/angular/angular-sanitize.min.js' %}"></script>
<script src="{% static 'inspinia/js/bootstrap/ui-bootstrap-tpls-2.2.0.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/angular-idle/angular-idle.js' %}"></script>
<script src="{% static 'inspinia/js/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'inspinia/js/bootstrap/bootstrap3.3.6.min.js' %}"></script>

<script src="{% static 'inspinia/js/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/sweetalert/SweetAlert.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/sweetalert/angular-sweetalert.min.js' %}"></script>

<script src="{% static 'inspinia/js/plugins/toastr/angular-toastr.js' %}"></script>
<script src="{% static 'inspinia/js/plugins/ui-select/select.min.js' %}"></script>
{% block loader_js_bottom %}{%endblock%}



